:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}
body {
  display: grid;
  place-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(35deg, red, purple);
}
/* <select> styles */
select {
  /* Reset */
  margin-top:50px;
  appearance: none;
  border: 0;
  outline: 0;
  /* Personalize */
  width: 27rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
  linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: green;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
    background: white;
    color: black;
}
th, td {
    font-weight: bold;
}

.look-calendar {
  width:220px;
  border:1px solid #c0c0c0;
  padding:6px;
  margin-left: 20px;
}

h2 {
  margin-left: 100px;
}

#calendar {
  width: 100%;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-spacing:0px;
}
#calendar tr.dn td {
  font-size: 15px;
}
#calendar thead tr:last-child {
  font-size: small;
  color: #555555;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: #2c567a;
}
#calendar tbody td:nth-child(n+6),
#calendar .holiday {
  color: #e78c5c;
}
#calendar tbody td.today {
  background: #dc0000;
  color: #fff;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
.spacer {width: 100%; height: 100px;}

body {font-family: "Open Sans", sans-serif;}

nav {
  width: 100%;
  background-color: #e53f30;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .nav-bar {
  padding: 20px;
  display: flex;
}
nav .nav-bar .nav-bar_item {
  list-style-type: none;
  padding: 0px 20px;
}
nav .nav-bar .dropdown {
  position: relative;
}
nav .nav-bar .dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover:after{
  transform: rotate(135deg);
}
nav .nav-bar .dropdown .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  width: 110px;
  background-color: #e53f30;
  padding: 20px;
  border-radius: 10px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project{
  height: 220px;

  visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
  list-style-type: none;
  margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover:after {
  width: 100%;
}
